<div class="container-fluid" ng-model='things'>
  <h1></h1>
  <form name='findForm'>
    <input ng-model='targetBlog' name='url' placeholder='Enter Blog URL'>
    <select ng-model='contentType'>
      <option value='/'>All</option>
      <option value='text'>Textposts</option>
      <option value='photo'>Photos</option>
      <option value='video'>Video</option>
      <option value='audio'>Audio</option>
      <option value='link'>Link</option>
      <option value='answer'>Questions and Answers</option>
      <option value='quote'>Quotes</option>
      <option value='chat'>Chat posts</option>
    </select>
    <input ng-model='original' type='checkbox'> Return only original posts </input>
    <input ng-model='contentSource' placeholder='(Optional) Source'>
    <button type='submit' ng-model='search' ng-click='searchFor(targetBlog, findForm.url.$valid)'>Find</button>
  </form>
  <div ng-repeat='thing in things'>
    <div ng-bind-html='thing.html'>{{thing}}</div>
  </div>

  <script type="text/ng-template" id="/text.html">
    Working
  </script>
</div>
