<div class="container-fluid" ng-model='things'>
  <h1></h1>
  <form name='findForm' class='form-horizontal'>
    <input ng-model='targetBlog' name='url' placeholder='Enter Blog URL'>
    <select ng-model='contentType'>
      <option value='/'>All</option>
      <option value='text'>Textposts</option>
      <option value='photo'>Photos</option>
      <option value='video'>Video</option>
      <option value='audio'>Audio</option>
      <option value='link'>Link</option>
      <option value='answer'>Questions and Answers</option>
      <option value='quote'>Quotes</option>
      <option value='chat'>Chat posts</option>
    </select>
    <input ng-model='original' type='checkbox'> Return only original posts </input>
    <input ng-model='contentSource' placeholder='(Optional) Source'>
    <button type='submit' ng-model='search' ng-click='searchFor(targetBlog)'>Find</button>
  </form>
  <div ng-model='loading' ng-show='showLoading'>Loading...</div>
  <div class="repeat" ng-repeat='post in things'>
    <div class='post' ng-include="post.type + '.html'">{{post}}</div>
  </div>
  <a ng-model='nextButton' ng-click='loadNext(postNum)' ng-show='showNext'>Next Page</a>
</div>
